.fadedfx {
  background-color: #fe5652;
  visibility: hidden;
}

#Content {
  text-align: center;
}

#loginContent,
#signupContent {
  display: inline-block;
}

#signupContent {
  padding: 20px;
}

#loginContent > img,
#histogrammaMaschiFemmine {
  //width: 200px;
}

.total-text {
  font-size: 34px;
  font-weight: bold;
}

.field {
  padding: 10px;
  color: crimson;
}
.dati-complessivi {
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
}

p {
  margin-bottom: 10px;
}

.table-c {
  table-layout: auto;
  width: 100%;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0 10px;
  tr {
    padding: 10px;
  }
}

.btn-actions {
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  i {
    padding: 5px;
  }
}

.header-text {
  font-family: Enav;
}

.row {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 599px) {
  .row {
    padding-right: 0;
    padding-left: 0;
  }
}
