<!-- riga1-->
<div class="row">
  <!--col -->
  <div class="col-sm">
    <!-- dati complessivi-->

    <div class="callout-elem-blue callout-elem-info">
      <p>Filtri selezionati</p>

      <table class="table-b">
        <tr>
          <td><span class="field">Unità organizzativa:</span></td>
          <td><span class="value">ENAV S.P.A.</span></td>
        </tr>
        <tr>
          <td><span class="field">Tipo analisi:</span></td>
          <td><span class="value">CONO</span></td>
        </tr>
        <tr>
          <td><span class="field">Anno:</span></td>
          <td><span class="value">2019 </span></td>
        </tr>
      </table>
    </div>
  </div>
  <!--col-->
  <div class="col-sm ">
    <div class="callout-elem-blue callout-elem-info">
      <p>Dati Complessivi</p>
      <table class="table-b">
        <tr>
          <td><span class="field">ICAO CODE:</span></td>
          <td><span class="value">LIBC</span></td>
        </tr>
        <tr>
          <td><span class="field">Traffic Permitted:</span></td>
          <td><span class="value">IFR/VFR</span></td>
        </tr>
        <tr>
          <td><span class="field">ATS Service:</span></td>
          <td><span class="value">AFIS</span></td>
        </tr>
        <tr>
          <td><span class="field">ATS Operational Hours:</span></td>
          <td><span class="value">07:00-19:00 (06:00-18:00)</span></td>
        </tr>
        <tr>
          <td><span class="field">APP Service:</span></td>
          <td><span class="value">LAMEZIA TERME</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <!--1element-->
    <mat-card class="example-card">
      <mat-card-header>
        <!--avatar 
              <div mat-card-avatar class="example-header-image"></div>
              -->
        <mat-card-title class="header-text">Dipendenti in forza</mat-card-title>
        <mat-card-actions>
          <span
            class="btn-actions"
            matTooltip="informazioni sul grafico"
            matTooltipShowDelay="1000"
            (click)="openDialog()"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </span>

          <span
            class="btn-actions"
            matTooltip="visualizza dettaglio"
            matTooltipShowDelay="1000"
            routerLink="/dettaglio"
          >
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </span>

          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-header>

      <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>salva come .png</button>
        <button mat-menu-item>salva come .xls</button>
      </mat-menu>

      <mat-card-content>
        <div id="Content" class="Content row">
          <div id="signupContent" class=" col-md-2 ">
            <p class="text-dex">8331</p>
          </div>

          <div id="loginContent" class="card-box col-md-8">
            <div id="histoMashiFemmine" style="height: 250px;"></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!--2eleent-->
    <mat-card class="example-card">
      <mat-card-content>
        <mat-card-header>
          <!--avatar 
                    <div mat-card-avatar class="example-header-image"></div>
                    -->
          <mat-card-title class="header-text">Sindacati</mat-card-title>
          <mat-card-actions>
            <span
              class="btn-actions"
              matTooltip="informazioni sul grafico"
              matTooltipShowDelay="1000"
              (click)="openDialog()"
            >
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </span>

            <span
              class="btn-actions"
              matTooltip="visualizza dettaglio"
              matTooltipShowDelay="1000"
              routerLink="/dettaglio"
            >
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </span>

            <button mat-icon-button [mat-menu-trigger-for]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-header>

        <mat-menu x-position="before" #menu="matMenu">
          <button mat-menu-item>salva come .png</button>
          <button mat-menu-item>salva come .xls</button>
        </mat-menu>
        <mat-card-content>
          <div id="Content" class="Content row">
            <div id="signupContent" class=" col-md-2 "></div>

            <div id="loginContent" class="card-box col-md-8">
              <div id="pie-chart" style="height: 290px;"></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <!--avatar 
              <div mat-card-avatar class="example-header-image"></div>
              -->
        <mat-card-title class="header-text">Dipendenti: genere</mat-card-title>
        <mat-card-actions>
          <span
            class="btn-actions"
            matTooltip="informazioni sul grafico"
            matTooltipShowDelay="1000"
            (click)="openDialog()"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </span>

          <span
            class="btn-actions"
            matTooltip="visualizza dettaglio"
            matTooltipShowDelay="1000"
            routerLink="/dettaglio"
          >
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </span>

          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-header>

      <mat-card-content>
        <div id="svganchor"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="callout-elem-blue callout-elem-info">
      <div class="list-justified-container">
        <ul class="list-justified text-center row">
          <li class="col-md-4">
            <p class="size-h3">Età Media</p>
            <p class="text-muted">45,61</p>
          </li>
          <li class="col-md-4">
            <p class="size-h3">Anzianità Aziendale Media</p>
            <p class="text-muted">17,89</p>
          </li>
          <li class="col-md-4">
            <p class="size-h3">In età pensionabile</p>
            <p class="text-muted">200</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
