.panel {
  // padding: 40px;
  background-color: #f0f0f0;
}

.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel {
  margin-bottom: 20px;
  // background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-profile .panel-heading {
  border-bottom: 2px solid #009688;
  background: center/cover;
  position: relative;
}

.panel .panel-heading {
  background: #ff5252;
  color: #fff;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
}
.panel-heading {
  padding: 20px;
  border-bottom: 1px solid transparent;
}
.bg-info,
a.bg-info,
a.bg-info:hover {
  background-color: #619bf2;
  color: #fff;
}

.panel-profile .panel-heading .overlay_prof {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.panel-profile .panel-heading .profile_info {
  padding-top: 100px;
  padding-bottom: 100px;
}

.panel-profile .panel-heading .profile_info {
  z-index: 1;
  position: relative;
}

.panel-profile .list-justified-container {
  padding: 15px 0;
}

.panel-profile ul.list-justified {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
}

.panel-profile ul.list-justified > li {
  float: none;
  display: table-cell;
  padding: 10px;
  width: 1%;
  border-right: 1px solid #eee;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.callout-elem-info {
  background-color: #f4f8fa;
  border-color: #619bf2;
}

.callout-elem-blue {
  p {
    font-family: Enav !important;
  }

  border-left: 6px solid #619bf2;
  margin: 20px 0;
  padding: 20px;
}

.callout-elem-other {
  p {
    font-family: Enav !important;
  }

  border-left: 6px solid #2ec58b;
  margin: 20px 0;
  padding: 20px;
}

.font-Enav {
  font-family: Enav;
}

//how many images we have
$slides: 4;

// how much we want each slide to show
$time_per_slide: 4;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

body {
  background: #000;
}
.container-imgs {
  margin: 0px 0px -56px 0px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 0px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}
.photo {
  position: absolute;
  animation: round #{$total_animation_time}s infinite;
  opacity: 0;
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@for $index from 1 to $slides + 1 {
  img:nth-child(#{$index}) {
    animation-delay: #{$total_animation_time - $time_per_slide * $index}s;
  }
}

.imgs {
  display: grid;
}

.profile_info {
  position: relative;
  margin: 0 auto;
  top: -200px;
  color: #fff;
  display: grid;
  z-index: 4;
  text-shadow: 2px 2px 10px #000;
}

.layer-ombra {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: -244px;
  /* text-align: center; */
  line-height: -38px;
  z-index: 2;
}
