<mat-sidenav-container class="example-container">
  <!-- menu laterale-->
  <mat-sidenav #sidenav [mode]="mode.value" class="sidenav">
    <div class="sidebar-header align-items-center">
      <div class="logo" routerLink="/home" (click)="clickMenu($event)">
        <img
          src="../../../assets/logo-horizon.png"
          alt="..."
          class="img-fluid"
        />
      </div>
      <!-- 
      <div class="title">
        <h1 class="h4">Mark Stephen</h1>
        <p>Web Designer</p>
      </div>
    --></div>

    <!-- elementi del menu -->

    <ul class="list-unstyled menu-sin" #menu>
      <li>
        <a routerLink="/overview" class="overview" (click)="clickMenu($event)">
          <!--<i class="material-icons">accessible_forward</i>-->
          <img src="../../../assets/menu_overview.png" />
          Overview</a
        >
      </li>
      <li>
        <a routerLink="/people" (click)="clickMenu($event)">
          <img src="../../../assets/clienti.svg" />People</a
        >
      </li>

      <li>
        <a routerLink="/workforce" (click)="clickMenu($event)">
          <img src="../../../assets/clienti.svg" />WorkForce</a
        >
      </li>

      <li>
        <a routerLink="/test3" (click)="clickMenu($event)" disabled>
          <img src="../../../assets/Job Perf.svg" />Job Performance</a
        >
      </li>

      <li>
        <a
          routerLink="/componenti"
          (click)="clickMenu($event)"
          class="collapsed disabled"
        >
          <i class="material-icons">apps</i>Componenti
        </a>
      </li>
      <!--
      <li>
        <a
          href="#exampledropdownDropdown"
          aria-expanded="false"
          data-toggle="collapse"
          class="collapsed disabled"
          (click)="clickMenu($event)"
        >
          <i class="material-icons">snooze</i>Example</a
        >
      </li>
    --></ul>

    <div class="version">{{ name }} v{{ version }}</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- header -->
    <app-header [sidenav]="sidenav"></app-header>
    <!-- // header-->
    <div class="container-reponsive" [@fadeInOutAnimation]="prepare(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <!-- pages -->
  </mat-sidenav-content>
</mat-sidenav-container>
