<h2 mat-dialog-title>Informazioni sull'applicativo</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>
      <p>
        Angular8
      </p>
    </li>
    <li>
      <p>
        Material Design
      </p>
    </li>
    <li>
      <p>
        Bootstrap
      </p>
    </li>
    <li>
      <p>
        NodeJS
      </p>
    </li>
    <li>
      <p>
        Introdotta latenza di rete
      </p>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annulla</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-ok">
    OK
  </button>
</mat-dialog-actions>
