<h2 mat-dialog-title>Informazioni sul widget 'Dati Complessivi'</h2>
<mat-dialog-content class="mat-typography">
  <h3>Lorem ipsum dolor sit amet</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc dui,
    tempor at nibh sit amet, fermentum luctus nisl. Vestibulum sodales mi nisi,
    eget scelerisque sapien scelerisque a. Sed dapibus, risus in consequat
    volutpat, diam quam laoreet ex, id pulvinar arcu felis sed enim. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Pellentesque est ante, dignissim nec condimentum eget, dignissim et elit. Ut
    quis leo vel metus maximus imperdiet. Interdum et malesuada fames ac ante
    ipsum primis in faucibus.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annulla</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-ok">
    OK
  </button>
</mat-dialog-actions>
