@import "../../../../styles-variables.scss";

.breadcrumb {
  background-color: transparent;
  margin-bottom: -30px;
}
.breadcrumb-img {
  width: 22px;
  margin-right: 10px;
}
.breadcrumb-text {
  padding-top: 8px;
  margin-left: 15px;
}
.indietro {
  button {
    background-color: $menu-color-border-selected;
    color: #fff;
    mat-icon {
      color: #fff;
    }
  }
}

.table-b {
  table-layout: auto;
  width: 100%;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0 10px;
  height: 150px;
  margin-left: 10px;
}
.callout-elem-blue {
  p {
    font-family: Enav !important;
  }

  border-left: 6px solid #0b3766;
  margin: 20px 0;
  padding: 20px;
  background-color: #f4f8fa;
  color: #000;
}

.table-c {
  table-layout: auto;
  width: 100%;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0 10px;
  height: 150px;
  tr {
    padding: 10px;
  }
}

.mat-card-actions {
  font-size: 16px;
}
.custom-card {
  padding: 0;
  .custon-header {
    padding: 13px;
  }
  .bk-green {
    background-color: #53e65a; //#43a047; //#5fe693;
  }
  .bk-blue {
    background-color: #00c7f7; // #5fd3e6;
  }

  .bk-ocra {
    background-color: #f2b53f; // #e3f166;
  }
  .custom-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0;
    margin-top: -5px;
    .btn-actions {
      cursor: pointer;
      margin-left: 15px;
      margin-right: 15px;
      i {
        padding: 5px;
      }
    }
  }
}

.custom-table-c {
  line-height: 17px;
  margin-left: 20px;
}
.custom-table-b {
  line-height: 20px;
  margin-left: 20px;
}
.top {
  top: 9px;
}

.value {
  //margin-left: 30px;
}

.header-text {
  font-family: Enav;
}

@media screen and (max-width: 770px) {
  .header-text {
    width: 200px !important;
    text-align: left !important;
  }
}
