@import "../../../../styles-variables.scss";

#chart-container {
  font-family: Arial;
  //height: 420px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

.orgchart {
  background: #fff;
}

#github-link {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 3em;
}

.mat-typography {
  max-height: 100% !important;
}

.orgchart {
  background-image: none !important;
  display: block;
}

.title {
  background-color: $menu-color-border-selected !important;
}
.content {
  border: 1px solid $menu-color-border-selected !important;
}
.label-orgChart {
  margin-top: 5px;
}
.before::before,
.after::after {
  border: "1px solid #0b3766";
}
#chart-container {
  border: 2px dotted #c5c5c5;
  height: 300px;
  position: relative;
  overflow: auto !important;

  //in caso di visualizzazione orizzontale o verticoal del grafo...
  text-align: justify;
  .orgchart {
    min-width: 600px;
    position: relative !important;
    background: transparent !important;
  }
}
.orgchart.l2r .node,
.orgchart.r2l .node {
  width: 67px !important;
  height: 130px !important;
}
.orgchart-bk {
  background: #fff !important;
}
.l2r {
  position: relative !important;
}

.mat-typography {
  max-height: 100%;
  overflow-y: hidden;
}

.mat-dialog-actions {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  top: 99%;
  position: sticky;
}
.btn-ok {
  background-color: #0b3766; //#07fb00;
  color: #fff;
}

.row-element {
  display: grid;
}
