<h2 mat-dialog-title>People: Seleziona i Filtri</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>seleziona l'anno</mat-label>
        <mat-select [(value)]="tempAnnoValue">
          <mat-option *ngFor="let anno of anni" [value]="anno">
            {{ anno }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6 row-element">
      <mat-label style="">Tipo di analisi: </mat-label>
      <mat-slide-toggle
        [checked]="checkedAnalisiPuntuale"
        (change)="onChange($event)"
        >Cono / Puntuale</mat-slide-toggle
      >
    </div>
  </div>
  <!--tree -->
  <div class="label-orgChart">
    seleziona la UOT:
  </div>
  <div id="chart-container"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onNoClick($event)">
    Annulla
  </button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    class="btn-ok"
    (click)="onSaveClick($event)"
  >
    OK
  </button>
</mat-dialog-actions>
