/* Add application styles & imports to this file! */

/*bootstrap import*/
@import "bootstrap/dist/css/bootstrap.css";

/**test css*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: Enav;
  src: url("../src/assets/Enav.otf") format("opentype");
}

@font-face {
  font-family: EnavBold;
  font-weight: bold;
  src: url("../src/assets/Enav.otf") format("opentype");
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

*:focus {
  outline: none !important;
  outline: 0;
}

mat-card {
  margin: 10px 0;
}
mat-card {
  /* max-width: 80%;*/
  /* margin: 2em auto;*/
  text-align: center;
}

mat-card-actions {
  position: absolute;
  right: 20;
  padding: 0 !important;
  margin-right: 0 !important;
  margin-top: -9px;
}
mat-toolbar-row {
  justify-content: space-between;
}

mat-icon {
  color: #0b3766;
}
.mat-card-title {
  font-size: 16px !important;
  height: 20px !important;
}
mat-card-header_old {
  border-top: 0px solid #e1e2e2;
  border-right: 0px solid #e1e2e2;
  border-bottom: 1px solid #e1e2e2;
  border-left: 0px solid #e1e2e2;
}
.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.middle {
  /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: center;
}

/*
BugFix: angular doesn'tcatch this class on the relative scss compoenent's file
*/
.menu-user {
  text-align: left;
  min-width: 180px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #0b3766 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #8da0b5 !important;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #0b3766 !important;
}
