/* Add application styles & imports to this file! */

@import "styles-variables.scss";

/*bootstrap import*/
@import "bootstrap/dist/css/bootstrap.css";

@import "@angular/material/prebuilt-themes/indigo-pink.css";
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

*:focus {
  outline: none !important;
  outline: 0;
}
