<div class="container">
  <!-- riga1-->
  <div class="row">
    <!--col -->
    <div class="col-sm  ">
      <mat-card class="example-card">
        <mat-card-header>
          <!--avatar 
          <div mat-card-avatar class="example-header-image"></div>
          -->
          <mat-card-title>Dipendenti in forza</mat-card-title>
          <!-- 
               
          -->
        </mat-card-header>

        <mat-card-content>
          <div id="Content">
            <div id="signupContent"><p class="total-text">31</p></div>

            <div id="loginContent">
              <!--
                
              <img
                _ngcontent-yrv-c9=""
                class="fadeIn"
                src="https://unsplash.it/400/300?image=503"
              />
              -->
              <div id="histogrammaMaschiFemmine" fxFlex="25"></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--col-->
    <div class="col-sm ">
      <mat-card class="example-card">
        <mat-card-header>
          <!--avatar 
            <div mat-card-avatar class="example-header-image"></div>
            -->
          <mat-card-title>Dipendenti in forza</mat-card-title>
          <!-- 
                 
            -->
        </mat-card-header>

        <mat-card-content>
          <div id="svganchor"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--riga2-->
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
  </div>
</div>
