<div class="">
  <div clas="col-md-12">
    <div class="panel panel-profile">
      <div
        class="panel-heading text-center bg-info"
        style="background: url('../../../assets/enav_sede.jpg') center/cover"
      >
        <div class="overlay_prof"></div>
        <div class="profile_info">
          <h3>Utente 1</h3>
          <p>Project Manager Operations</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="callout-elem-blue callout-elem-info">
      <p>SecMS-R-10.4</p>
      <p>C2 - Limited distribution</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="callout-elem-other callout-elem-info ">
      <p>HR Planning and Cost Control</p>
      <p>HR Planning and Dashboard</p>
    </div>
  </div>
</div>
