<!--
<div class="">
  <div clas="col-md-12">
    <div class="panel panel-profile">
      <div
        class="panel-heading text-center bg-info"
        style="background: url('../../../assets/enav_sede.jpg') center/cover"
      >
        <div class="overlay_prof"></div>
        <div class="profile_info">
          <h3 class="font-Enav">Cesare Stefano Ranieri</h3>
          <p class="font-Enav">Chief HR and Corporate Services Officer</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-12">
    <div class="imgs">
      <div class="container-imgs">
        <img class="photo" src="../../../assets/top2.jpg" alt="" />
        <img class="photo" src="../../../assets/top4.jpg" alt="" />
        <img class="photo" src="../../../assets/top6.jpg" alt="" />
        <img class="photo" src="../../../assets/top8.jpg" alt="" />
      </div>

      <div class="layer-ombra"></div>
      <div class="profile_info">
        <h3 class="font-Enav">Cesare Stefano Ranieri</h3>
        <p class="font-Enav">Chief HR and Corporate Services Officer</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="callout-elem-blue callout-elem-info">
      <p>SecMS-R-10.4</p>
      <p>C2 - Limited distribution</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="callout-elem-other callout-elem-info ">
      <p>HR Planning and Cost Control</p>
      <p>HR Planning and Dashboard</p>
    </div>
  </div>
</div>
